@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto+Mono|Solway&display=swap');
:root {
    --code-bg-color: #fff9f3;
    --code-fg-color: #0063a3;
}

html {
    font-size: 16px;
}

p,
a,
li {
    font-family: 'Merriweather', serif;
}

p {
    line-height: 1.8rem;
    font-size: 1rem;
}

p a {
    text-decoration: none;
    color: rgb(0, 147, 255);
}

h1,
h2,
h3,
h4,
h5,
h6,
header h2 a {
    font-family: 'Solway', serif;
    text-decoration: underline 4px;
    color: var( --code-fg-color);
}

article {
    max-width: 85ch;
}

li {
    font-size: 1rem;
    line-height: 2.2rem;
}

li a {
    color: black;
    text-decoration: none;
    transition: all .5s ease-in;
}

li a:after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: 300ms;
}

li a:hover:after {
    width: 100%;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.2;
    background-color: var(--code-bg-color);
}

p code {
    padding: 5px 7px 5px 7px;
    background-color: var(--code-bg-color);
    font-size: 0.8rem;
}

code {
    font-family: 'Roboto Mono';
    color: var(--code-fg-color);
}

#main {
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 40em) {
    #main {
        width: 70%;
        float: right;
        height: calc(100vh - 28px);
        overflow: auto;
    }
    #main {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }
    #sidebar {
        width: 25%;
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }
    #sidebar ul {
        height: calc(100vh - 115px);
        overflow: auto;
        padding-left: 25px;
        padding-right: 15px;
        list-style-type: circle;
    }
    #sidebar header {
        height: 40px;
    }
}