#main {
  padding-left: 15px;
  padding-right: 15px;
}

#sidebar {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}


@media (min-width: 40em) {
  #main {
    width: 70%;
    float: right;
    height: calc(100vh - 20px);
    overflow: auto;

}
#main {

    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  #sidebar {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  #sidebar ul{
    height: calc(100vh - 107px);
    overflow: auto;
    padding-left: 25px;
    padding-right: 15px;
  }

  #sidebar header{
    height: 40px;
  }
}