@import url(https://fonts.googleapis.com/css?family=Merriweather|Roboto+Mono|Solway&display=swap);
:root {
    --bg-color: rgb(248, 246, 245);
    --dark-blue: rgba(0, 99, 163, 1);
    --light-blue: rgba(0, 147, 255, 1);
    --orange: rgba(255, 155, 84, 1);
    --redish: rgba(223, 134, 148, 1);
    --light-orange: rgba(255, 196, 175, 1);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px
}

body {
    margin: 0;
}

a,
li,
p {
    font-family: 'Merriweather', serif
}

li,
p {
    line-height: 1.8rem;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--light-blue);
    padding-right: 15px;
}

a:after {
    content: " \21AA";
}

li a:visited:after,
a:visited:after {
    color: var(--redish);
}

#searchResults li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
header h2 a {
    font-family: 'Solway', serif;
    text-decoration: underline 4px var(--orange);
    color: var(--dark-blue);
}

article {
    max-width: 85ch;
}

li {
    line-height: 2.2rem;
}

#sidebar ul li a {
    color: black;
}

p code,
pre {
    background-color: var(--bg-color);
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.2;
}

p code {
    padding: 5px 7px;
    font-size: .8rem;
}

code {
    font-family: 'Roboto Mono';
    color: var(--dark-blue);
}

mark {
    background-color: var(--redish);
    padding: 3px;
}

blockquote {
    padding: 0 1em;
    color: var(--dark-blue);
    background-color: var(--bg-color);
    border-left: .25em solid var(--redish);
}

.simplebar-track.simplebar-vertical {
    background-color: var(--bg-color);
    border-radius: 5px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 2px;
    bottom: 2px;
    background: var(--dark-blue);
}

#main,
#sidebar {
    padding-left: 15px;
    padding-right: 15px;
}

#sidebar header {
    padding: 15px 0 15px 0;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid var(--dark-blue);
}

#sidebar h2 {
    margin: 0;
}

#title-search-box {
    padding: 5px;
    margin: 10px 0 0 0;
    height: 2.2rem;
    width: 100%;
    color: var(--dark-blue);
    background: var(--bg-color);
    border-radius: 3px;
}

#title-search-box::placeholder {
    color: var(--dark-blue);
}

@media (min-width:40em) {
    #main {
        width: 70%;
        float: right;
        height: calc(100vh - 45px);
        overflow: auto;
        padding-bottom: 20px;
    }
    #sidebar {
        width: 25%;
        float: left;
        height: 100vh;
        padding: 0;
    }
    #noteList {
        height: calc(100vh - 135px);
    }
    #sidebar ul {
        overflow: auto;
        padding-right: 15px;
        list-style-type: circle;
        padding-left: 40px;
        margin-top: 10px;
    }
}